
.text123 {
	text-align:center;
	font-size:25px;
	padding-top:15px;
	font-weight: 700;
}
.chartbox {
	height:500px !important;
}

.selecter_r_div{padding-left: 10px;}

.templatebody1{
	background:#f7f7f9;
	width: 100%;
	height: auto;
}

#myChart {
    width: 95% !important; 
	height: auto !important; 
	margin-left: 0.8rem;
}
.maintext1{
	background:#f7f7f9 ;
	width:100%;
	height:20px;
	
}

.maintext11{
	margin:20px 20px 0px 20px;
	height:auto;
	overflow-y: auto;
	overflow-x: hidden;
	float:left;
	background: #ffffff;
	width: 97.5%;
	box-shadow: 5px 0px #3884b0 inset;
	font-size:20px;
	padding-left:10px;
	padding-top:15px;
}

#ws_result_div{
	display: none;
	margin:20px 20px 0px 20px;
	height:auto;
	overflow-y: auto;
	overflow-x: hidden;
	float:left;
	background: #ffffff;
	width: 97.5%;
	box-shadow: 5px 0px #FFC31E inset;
	font-size:20px;
	padding-left:10px;
	padding-top:15px;
}

.maintext12{
	margin:20px;
	height:60px;
	float:left;
	background: #ffffff;
	width: 22%;
	
	font-size:20px;
	padding-left:10px;
	padding-top:15px;

}

.chartbox{
	margin-top:0px;
	margin-left:0px;
	background:#f7f7f9;
	width:100%;
	height:350px;
}
.chartbox1{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	box-shadow: 5px 0px rgb(255, 206, 86) inset;
	background:#ffffff;
	height:auto;
	width:48%;
}
.chartbox2{
	margin-top:20px;
	margin-right:20px;
	float:left;
	box-shadow: 5px 0px rgb(75, 192, 192) inset;
	background:#ffffff;
  width:48%;
	height:117%;
}

.basicchart{
	float:left;
	background:#ffffff;
		width:50% ;
  	height:200px;
}

.link1{
  	margin-top:px;
	margin-left:0px;
	width:100%;
	height:400px;
	background: #f7f7f9;
	display:table;
}

.link12{
	margin:20px;	
	box-shadow: 5px 0px rgb(206, 19, 18) inset;
  	background:#ffffff;
	float:right;
	width: 97.5%;
	height:auto !important;
}